.education {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .education-header {
    display: flex;
    align-items: center;
  }
  
  .school-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  .education-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .education-grade {
    margin-bottom: 10px;
  }
  
  .education-activities {
    font-style: italic;
    color:rgba(255, 255, 255, 0.551);
    margin-bottom: 10px;
  }

  .education-trash-button{
    margin-left: auto;
    cursor: pointer;
    color:white;
   
    transition: color 0.1s ease;
    &:hover{
      color: black;
    }
  }
  
  .education-information{
    width: 565px;
  }