.all-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 750px;
    height: auto;
    background-color: whitesmoke;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    margin: 20px auto;
    .username-skill {
      font-size: 25px;
      margin-bottom: -25px;
      width: 100%;
      font-weight: 600; 
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}