.post-status-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .post-status {
    width: 730px;
    height: 120px;
    background-color: #31363F;
    margin-top: 30px;
    border: 1px solid #4f5051aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  
    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 2px;
      margin-top: -27px;
      margin-right: -15px;
      cursor: pointer;
    }
  
    .open-post-modal {
      width: 80%;
      height: 50px;
      text-align: left;
      color: white;
      background-color: #31363F;
      outline: none;
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      margin-left: -15px;
      margin-top: -30px;
      cursor: pointer;
      padding: 15px;
      font-weight: 600;
      font-size: 14px;
      font-family: system-ui, sans-serif;
    }
  
    .open-post-modal:hover {
       background-color: #afb4bc52;
       color:black;
    }
  
    /* Additional buttons styles */
    .additional-buttons {
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; /* Center items vertically */
      width: 70%; /* Increased width */
      position: absolute;
      bottom: 10px; /* Adjust the distance from the bottom */
      left: 15%; /* Adjust the horizontal position */
    }
  
    .additional-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 35px;
        background-color: #31363F;
        color: #f5eeee;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -3px;
    }
  
    .additional-button:hover {
      background-color: #a89e9e; /* Adjust the background color on hover */
      color: black;
    }
  
    .icon {
      
      /* Adjust the height of the icon */
      margin-right: 5px; /* Adjust the space between icon and text */
    }
    .icn{
      background-size: cover;
      cursor: pointer;
    }
  }
  
  .load-post-btn{
    background-color: #31363F;
    border: none;
    border-radius: none;
    justify-content: center;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    margin-top: 5px;
  }