.main{
  background-color: #a7abb1;
}

.top-main {
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px; /* Adjusted topbar height */
  background-color: #31363F;
  border: 2px solid #4f5051aa;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.app-logo {
 background-color: rgb(214, 209, 209);
  border-radius: 20px;
  height: 50px;
  margin-right: 400px; /* Adjust spacing between app logo and icons */
  cursor: pointer;
}

.react-icons {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px; /* Adjust spacing between icons */
}

.react-icon {
  margin-bottom: 4px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.react-icon:hover {
  color: #000000;
}

.user-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0px; /* Adjust spacing between user logo and icons */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user-logo:hover {
  transform: scale(1.1);
}

.icon-name {
  font-size: 10px; /* Adjusted font size */
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

/* Responsive Styles */

@media (max-width: 1073px) {
  .topbar-main {
    padding: 6px 20px; /* Adjusted padding for smaller screens */
  }

  .app-logo {
    margin-right: 20px; /* Adjust spacing for smaller screens */
  }

  .icon-container {
    margin-right: 20px; /* Adjust spacing between icons for smaller screens */
  }
}

.contain{
  overflow-y: auto; 
overflow-x: hidden; 
position: fixed; 
top: 0; 
width: 100%; 
height: 100%; 
background-color: transparent; 
--bg-opacity: 0.9; 
}

.main-contain{
overflow-x: hidden; 
position: absolute; 
right: 0; 
z-index: 10; 
width: 100%; 
height: 100%; 

transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
transition-duration: 700ms; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
--transform-translate-x: 0; 
}


  .notifi{
    overflow-y: auto; 
    position: absolute; 
    right: 0; 
    padding: 2rem; 
    height: 100vh; 
    background-color: #F9FAFB; 
    
    }


.notif-sec{
display: flex; 
font-size: large;
justify-content: space-between; 
align-items: center; 

}

.notif-text{
  padding-left: 20px;
  font-size: 1.5rem;
line-height: 2rem; 
font-weight: 600; 
line-height: 1.5rem; 
color: #1F2937; 
}

.notif-btn{
  background-color: transparent;
 border-radius: 0.375rem; 
cursor: pointer; 
}

.notif-item{
  display: flex; 
padding: 0.75rem; 
margin-top: 1rem; 
border-radius: 0.25rem; 
width: 100%; 
background-color: #ffffff; 
}
.ind-item{
  display: flex; 
justify-content: center; 
align-items: center; 
border-radius: 9999px; 
border-width: 1px; 
border-color: #E5E7EB; 
width: 2rem; 
height: 2rem; 

}
.item-mess{
  font-size: 0.875rem;
line-height: 1.25rem; 
line-height: 1; 

}

.messa{
  color: #4338CA; 
}

.time{
  padding-top: 0.25rem; 
font-size: 0.75rem;
line-height: 1rem; 
line-height: .75rem; 
color: #6B7280; 
}
.com{
  display: flex; 
align-items: center; 
}

.comkl{
  width: 100%;
}

.comc{
 display: flex; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
padding-top: 4rem;
padding-bottom: 3rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
line-height: 1.5; 
color: #6B7280; 
}
.jkl {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 40px 0 20px; 
} 

.jkl span { 
  color: #4338CA;
   background:#fff; 
   padding:0 10px;
   
}

.notification-badge {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -55px;
  right: -18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0px 5px 0px 5px;
}