/* Converted CSS */
.container-ext{
  text-align: center;
  color: white;
  padding:4px;
  max-height: 700px; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}
.navb{
  background-color: black;
  padding: 20px;
  position:sticky;
  display: flex;
  gap:2rem;
  justify-content: flex-end;
}
.container-h1{
  margin-bottom: 8px;
  font-weight: bold;
  padding: 20px;
}
.link-na{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px; 
  margin-top: 8px;
  &:hover{
    color: #10b981;
    cursor: pointer;
    transition: 0.3s;
  }
}
.conta-div{
  padding: 5px;
  padding: 10px;
}

.signin-btn {
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  &:hover{
    background-color: green;
  }
}

.div-img{
 display: flex; 
padding: 1rem; 
align-items: center;
}
.page-style {
  background: #212534;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.motion-div{
  margin-top: 1rem;
}
.img{
  margin-right: 1rem; 
border-radius: 0.5rem; 
width: 40%; 

}



