.JobsMainContent{
    padding-left: 1rem;
padding-right: 1rem; 
grid-template-columns: repeat(4, minmax(0, 1fr)); 
gap: 2rem; 
color: white;


@media (min-width: 768px) { 
  display: grid 
 }
@media (min-width: 1024px) { 
  padding-left: 6rem;
padding-right: 6rem; 
 }
}
.JobsLeftRightSide{
padding: 1rem; 
border-radius: 0.25rem; 
background-color: #31363F;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.JobsCard{
  color:white;
    padding: 1rem; 
grid-column: span 2 / span 2; 
border-radius: 0.125rem; 
width: 100%;
background-color: #31363f;
box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.755), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.JobsCardInner{
    margin-bottom: 0.5rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700; 
}
.JobsPagination{
    display: flex; 
margin-top: 1rem; 
justify-content: center; 
}
.JobsCardSpan{
    margin-left: 0.5rem;
margin-right: 0.5rem; 
}
.JobsDes{
  color:white;
  background-color: #31363f;

  margin-bottom: 0.5rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700; 
}
.CardSection{
    display: flex; 
flex-direction: column; 
gap: 1rem; 
align-items: flex-start; 

/* justify-content: center; */

border-radius: 7px;
padding-top: 10px;
padding-right:5px ;
margin-left: 2rem;
margin-right: 2rem;
background-color: #1a1a1c7a;
box-shadow: 0 4px 8px 0 rgba(20, 7, 7, 0.855), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 2rem; /* Adds margin below each .CardSection */
@media (min-width: 640px) { 
  flex-direction: row; 
 }
}
.CardCompanyName{
    margin-bottom: 0.25rem; 
}
.CardJobTitle{
    margin-bottom: 0.5rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 600;
}
.CardPropsDiv{
    display: flex; 
margin-bottom: 0.5rem; 
flex-wrap: wrap; 
gap: 0.5rem; 
font-size: 1rem;
line-height: 1.5rem; 
}
.CardProp{
    display: flex; 
gap: 0.5rem; 
align-items: center; 
}
.CardDescription{
    font-size: 1rem;
line-height: 1.5rem; 
color: #9CA3AF;
}
.BannerOuterDiv{
padding-left: 1rem;
padding-right: 1rem; 
max-width: 1536px; 


@media (min-width: 768px) { 
  padding-top: 5rem;
padding-bottom: 5rem; 
 }

@media (min-width: 1280px) { 
  padding-left: 6rem;
padding-right: 6rem; 
 }
}
.BannerHeading{
    margin-bottom: 0.75rem; 
font-size: 3rem;
line-height: 1; 
font-weight: 700; 
font-family: "Georgia", serif;
color: white;
}
.BannerSubHeading{
    margin-bottom: 2rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-family: "Roboto", sans-serif;
color: white;
}
.BannerFormOuterDiv{
    display: flex; 
flex-direction: column; 
gap: 1rem; 
justify-content: flex-start; 
  font-family: "Georgia", serif;


@media (min-width: 768px) { 
  flex-direction: row; 
gap: 0; 
 }
}
.BannerInputField{
    display: flex;  
width: 100%; 
box-shadow: inset 0px -1px 0.5px rgba(255, 255, 255, 0.3);
margin-right: 1rem;
@media (min-width: 768px) { 
  width: 50%; 
 }
}
input:focus {
  outline: none;
}
.BannerJobtitleSearch{
    display: block; 
padding-top: 0.375rem;
padding-bottom: 0.375rem; 
padding-left: 2rem; 
flex: 1 1 0%; 
color: #f0f3f9; 
background-color: transparent; 
border-width: 0; 
border-bottom: 1  ;
@media (min-width: 640px) { 
  font-size: 0.875rem;
line-height: 1.25rem; 
line-height: 1.5rem; 
 }
}
.BannerIcon{
 
margin-left: 0.5rem; 
margin-right: 0.5rem;
margin-top: 0.625rem; 
color: #9CA3AF; 
}
.BannerLocationSerachInputField{
    display: flex; 
width: 100%; 
box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);


@media (min-width: 768px) { 
  width: 33.333333%; 
 }
}
.BannerloactionSearch{
    display: block; 
padding-top: 0.375rem;
padding-bottom: 0.375rem; 
padding-left: 2rem; 
flex: 1 1 0%; 
border-width: 0; 
border-bottom: 1  ;
color: #f5f6f9; 
background-color: transparent; 

@media (min-width: 640px) { 
  font-size: 0.875rem;
line-height: 1.25rem; 
line-height: 1.5rem; 
 }
}
.Banner{
 
}
.BannerSubmit{
    padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 2rem;
padding-right: 2rem; 
background-color: transparent;
border-width: 0;
color: #000001;
background-color: white;
border-bottom: 1px transparent;
@media (min-width: 768px) { 

   }
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  overflow: scroll; /* Adds both vertical and horizontal scrollbars */
}

.active{
  color: #3575E2;
  font-weight: 500;
  overflow: scroll; /* Adds both vertical and horizontal scrollbars */
}


.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}
.ButtonContainer {
  display: flex; /* Use semicolon to separate property declarations */
  margin-top: 1rem; /* Add semicolon at the end of the property declaration */
  justify-content: center; /* Use semicolon to separate property declarations */
}

/* jobs page */

.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}


.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(226, 217, 217);
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}

/* create a job page */

.create-job-flex{
  display: flex; 
  flex-direction: column; 
  row-gap: 0.5rem; 
  justify-content: space-between; 
  align-items: center; 
  @media (min-width: 1024px) { 
    flex-direction: row; 
   

   }}

.create-job-input{
  display: block; 
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; 
  padding-left: 0.75rem; 
  width: calc(50% - 0.75rem);
  flex: 1 1 0%; 
  width: 100%; 
  color: #111827; 
  background-color: #ffffff; 
  border: white;
  border-radius: 4px;
  @media (min-width: 640px) { 
    font-size: 0.875rem;
  line-height: 1.25rem; 
  line-height: 1.5rem; 
   }}
.sidebarButton{
padding-top: 0.25rem;
padding-bottom: 0.3rem; 
padding-left: 0.3rem;
padding-right: 0.25rem;
border-width: 1px; 
font-size: 1rem;
line-height: 1.5rem; 
cursor:pointer;
margin: 0 0.3rem 0;
font-size: 16px;
background-color: rgb(240, 238, 238);
color: rgb(8, 0, 0);
border: rgb(12, 12, 12);
border-radius: 4px;


}
.sidebarButton:hover {
  background-color: #050505;
  color: #ffffff; 
 }
.EmploymentTypeHeading{
  margin-bottom: 0.5rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 500; 
}
.postedJobsOuterMost{
  border:1px solid #242527;
display: flex; 
padding-left: 22rem;
padding-right: 22rem; 
padding-top: 3rem;
padding-bottom: 3rem; 
justify-content: center; 
align-items: flex-start;
background-color: #242527;
grid-column: span 2 / span 2; 
}
.CreateJobOuterMost{
 padding-left: 2rem;
padding-right: 2rem; 
max-width: 70%;
margin:0 auto; 
background-color: #31363F;
box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.755), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

color:white;


@media (min-width: 1280px) { 
  padding-left: 6rem;
padding-right: 6rem; 
 }
}
.CreateJobForm{
  padding-left: 1rem;
padding-right: 1rem; 
padding-top: 2.5rem;
padding-bottom: 2.5rem; 
background-color: #31363F;

@media (min-width: 1024px) { 
  padding-left: 4rem;
padding-right: 4rem; 
 }
}
.CreateJobFormTag{
  margin-top: 1.25rem; 
}
.CreateJobFlexUnder{
  width: 100%;
  margin-right: 0.75rem;
@media (min-width: 1024px) { 
  width: 50%; 
 }
}
.CreateJobJobTitle{
  display: block; 
margin-bottom: 0.5rem; 
font-size: 1.125rem;
line-height: 1.75rem; 

}
.CreateJobDescription{
  padding-top: 0.375rem;
padding-bottom: 0.375rem; 
padding-left: 0.75rem; 
width: 600px; 
border:white
}
.CreateJobSubmitButton{
  display: block; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 2rem;
padding-right: 2rem; 
margin-top: 3rem; 
font-weight: 600; 
color: #ffffff; 
background-color: #2380cd;
border: #2380cd;
border-radius: 5px;
font-weight: bold;
}
.CreateJobSubmitButton:hover{
  background-color: #141414;
  cursor: pointer;
}
.applyButton {
  background-color: #8304fb;
  color: #fff;
  border: 1px solid #8304fb;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: large;

}

.applyButton:hover {
  background-color: #8B008B;
}

.appliedButton{
  background-color: rgb(72, 72, 242);
  color: white;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-size: large;

}
.PreviousButton{
  padding-top: 0.25rem;
padding-bottom: 0.3rem; 
padding-left: 0.3rem;
padding-right: 0.25rem;
border-width: 1px; 
font-size: 1rem;
line-height: 1.5rem; 
cursor:pointer;
margin: 0 0.3rem 0;
font-size: 16px;
background-color: rgb(240, 238, 238);
color: rgb(8, 0, 0);
border: blue;
border-radius: 4px;

}
.PreviousButton:hover{
  color:rgb(236, 229, 229);
  background-color: rgb(16, 15, 15);
}
.myAppliedJobs{
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Georgia", serif;
}
.viewBtn {
  background-color: black;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: large;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
.rightHeading{
  display: flex; 
  margin-bottom: 0.5rem; 
  gap: 0.5rem; 
  align-items: center; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  font-weight: 700; 
}
.rightSectionDetails{
  margin-bottom: 1rem; 
font-size: 1rem;
line-height: 1.5rem; 
color: #e4dfdf;
}
.rightSectionButtonDiv{
  margin-top: 1rem; 
width: 100%; 
}
.CreaSubmitButton{
  margin: 2rem auto 0; 
  font-size:15px ;
  padding: 15px;
   background-color:purple;
    color:white;
    border:blue ;
   border-radius: 10px;
}
.CreaSubmitButton:hover{
 
   background-color:rgb(65, 12, 65);
    color:white;
    cursor:pointer;
    border:blue ;
   border-radius: 10px;
}