
.profile-card {
    width: 750px;
    color: #fff;
    height: auto;
    background-color: #31363F;
    margin: auto;
    border: 1px solid #4f5051aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 20px;
    position: relative;
    @media (max-width: 900px) {
      width: auto; /* Set the width to auto when the display width is less than 900px */
    }
    .profile-info {
      color: #fff;
      display: flex;
      justify-content: space-between;
      .profile-image {
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid #4f5051aa;
        padding: 5px;
        cursor: pointer;
      }
      .right-info {
        margin-top: 50px;
        margin-right: 300px;
        .college,
        .company {
          font-family: system-ui;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          line-height: 30px;
          margin-top:0px;
          margin-bottom: 25px;
        }
  
        .company {
          margin-top: -15px;
        }
      }
    }

    .skill-label {
      font-weight: 600;
    }
    .skills{
      margin-top: 15px;
      color: #fff;
    }
    .edit-btn {
      position: absolute;
      right: 20px;
  
      .edit-icon {
        width: 24px; /* Set your desired width */
        height: 24px; /* Set your desired height */
        border-radius: 50%; /* Make it rounded to resemble an icon */
        border: 1px solid #ccc; /* Optional: Add a border for better visibility */
        cursor: pointer; /* Add cursor style to indicate it's clickable */
      }
      
  
      .edit-icon:hover {
        background-color: rgb(197, 197, 197);
        padding: 10px;
        border-radius: 50%;
      }
    }
    .userName {
      font-family: system-ui;
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      margin-top: -10px;
    }
  
    .heading {
      margin-top: 0px;
      font-family: system-ui;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      width: 320px;
      line-height: 20px;
    }

    .location{
      margin-top:15px;
      color: #fff;
    }

    .about-me{
      margin-top: 15px;
      color: #fff;
    }

    .website {
      color: #00a6ff !important;
      color: #fff;
      -webkit-link: #00a6ff;
      margin-top: 15px;
    }
  }

  .all-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 750px;
    height: auto;
    color: #fff;
    background-color: #31363F;
    border: 1px solid #4f5051aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 20px;
    position: relative;
    margin: 20px auto;
    .username-posts {
      font-size: 25px;
      margin-bottom: -25px;
      width: 100%;
      font-weight: 600; 
    }
    hr {
      border-top: 1px solid rgb(181, 181, 181);
    }
    .all-posts-button {
      width: 100%;
      height: 42px;
      color: rgba(84, 84, 84, 0.89);
      background-color: whitesmoke;
      border-radius: 10px;
      outline: none;
      border: 1px solid #0d0c0c;
      cursor: pointer;
      font-weight: 600;
      font-size: 15px;
      font-family: system-ui, sans-serif;
      margin-top: 10px;
    }
  
    .all-posts-button:hover {
      background-color: #dcdbdb99;
    }
  }

  .skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    color: #fff;
    height: auto;
    background-color: #31363F;
    border: 1px solid #4f5051aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 20px;
    margin: 20px auto;
    .username-skills {
      font-size: 25px;
      margin-bottom: -10px;
    }
    
  
    .all-skills-button:hover {
      background-color: #dcdbdb99;
    }
  }
  .all-skills-button{
    width: 100%; 
    height: 42px;
    color: rgba(84, 84, 84, 0.89);
    background-color: #eff3f9;
    border-radius: 10px;
    outline: none;
    border: 1px solid #0d0c0c;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    font-family: system-ui, sans-serif;
    margin-top: 10px;
  }
  .username-skills {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding-left: 5px;
    font-weight: 600;
  }
  
  .username-skills .icon-container-2 {
    color: #fff;
    display: flex;
    gap: 10px;
    padding-right: 5px;
  }

  .connect-button {
   
    background-color: #0077B5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.connected-button {
   
  background-color: grey;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}